<div class="container-flex">

  <div class="row">

    <div class="col s12 m3">
      <div class="panel hoverable configs">

        <div class="input-field col m12 s4">
          <select>
            <option value="" disabled selected>-</option>
            <option value="ches">Chest & Shoulders</option>
            <option value="arms">Arms & Back</option>
            <option value="core">Core</option>
            <option value="legs">Legs</option>
          </select>
          <label>Body Region</label>
        </div>

        <div class="input-field col m12 s4">
          <select multiple>
            <option value="" disabled>-</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Muscle Groups</label>
        </div>

        <div class="input-field col m12 s4">
          <select multiple>
            <option value="" disabled>-</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Equipment</label>
        </div>

      </div>
    </div>

    <div class="col s12 m9">
      <div class="panel hoverable" id="content">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
