
#content-table {
  height: 100%;
  width: 100%;
  border-spacing: 35px;
  border-collapse: separate;
  table-layout: fixed;

  tr {
    height: calc(100% / 3);

    td.content-wrapper {
      height: 100%;
      border-radius: 4px;
      background: rgb(255 206 165 / 30%);
      text-align: center;
      vertical-align: middle;

    }
  }
}
