div.panel {

  width: 300px;
  padding: 10px;

  div {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: rgb(255 206 165 / 30%);

    &.flex {
      // Make flex itself
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

