<table id="workout-selector">
  <tr>
    <td class="hoverable chest">
      <div (click)="create_workout('2MtbkrXeLQ70553pglyN0d')">
        <b>Arms & Chest</b>
      </div>
    </td>
    <td class="hoverable arms">
      <a routerLink="/workout-creator/6hetnO0FN0J0B9P7wcPKhY">
        <div><b>Back & Neck</b></div>
      </a>
    </td>
  </tr>
  <tr>
    <td class="hoverable core">
      <a routerLink="/workout-creator/2FYi9dXJ0UzpGvb4N9PX6h">
        <div><b>Abs & Core</b></div>
      </a>
    </td>
    <td class="hoverable legs">
      <a routerLink="/workout-creator/Q8F0BICEjm0JxT5PpyrFC">
        <div><b>Legs</b></div>
      </a>
    </td>
  </tr>
</table>
