div.landing-content {
  align-items: center;
  padding: 15px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  height: 100%;
  display: flex;
  background: hsl(195, 53, 73, 1);
  border: 3px dashed hsl(195, 53, 64, 1);
}
