  .movement {
    padding: 10px;
    box-sizing: border-box;
    background: rgb(255 206 165 / 30%);
    border-radius: 4px;
    z-index: 2;

    div.input-field {
      label {
        color: black;
      }
    }

    .movement-table {
      font-size: 12px;
    }

    .transparent {
      background: transparent;

    }

    .filter {
      transform: scale(0.8);
      transform-origin: top left;
    }

  }
