@use "./theme.scss";

html, body {
  height: 100%;
  background-image: url("assets/wallpaper_placeholder.jpg");
  background-size: cover;
  background-position: center center;
}

body {
  //-webkit-user-select: none; /* Safari */
  //-ms-user-select: none; /* IE 10 and IE 11 */
  //user-select: none; /* Standard syntax */
  background: rgba(150, 150, 150, 0.2);

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
